@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: rgba(9, 160, 247, 1);

}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


/***************************** HOME *****************************/

.headers {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo{
    padding: 17px 0px;
    margin-left: 100px;
}
.navbar{
    margin-right: 100px;
}
.navbar a {
    text-decoration: none;
    color: #025049;
    margin-left: 30px;
    font-size: large;
    font-weight: 400;
}
.navbar button{
    cursor: pointer;
    margin-left: 30px;
    border: 1px solid;
    width: 130px;
    height: 42px;
    font-size: large;
    border-radius: 5px;
}

.button_login{
    background-color: var(--blue);
    color: white;
    border-color: var(--blue) ;
}

.button_login:hover {
    transition: 0.3s all;
    background-color:white  ;
    color: var(--blue);
    border-color: var(--blue) ;
}

.button_sign_up{
    background-color:white;
    color: var(--blue);
    border-color: var(--blue);
}

.button_sign_up:hover {
    transition: 0.3s all;
    background-color:var(--blue);
    color: white;
    border-color: white;
}


.block_car{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('picture/image\ 2.svg');
    width: 100%;
    height: 440px;
    display: flex;
    background-size: cover;
    flex-direction: column;
    padding-left:100px ;
    color: white;
    box-sizing: border-box;
}

.block_car h1{
    margin-top: 50px;
}

.block_car h5{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.block_car button{
    width: 190px;
    height: 40px;
    background-color:var(--blue);
    color: white;
    font-size: large;
    border: 1px solid var(--blue);
    cursor: pointer;
}


/***************************** SEARCH *****************************/

.search{
    font-size: 0px;
    transform: translate(0,-40px);

}

.search .btn_primary{
    margin-left: 100px;
    background-color: rgba(46, 86, 110, 1);
    color: white;
    width: 190px;
    height: 40px;
    border-top-color: var(--blue);
    border-right:none;
    border-left: none;
    border-bottom: none;
    cursor: pointer;

}
.search .btn_secondary{
    background-color: rgba(23, 56, 77, 1);
    color: white;
    width: 190px;
    height: 40px;
    border:none;
    transform: translate(0,-1px);
    cursor: pointer;
}
.search .container{
    transform: translate(0,-1px);
    width: 100%;
    height: 125px;
    background-color: rgba(46, 86, 110, 1);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.search .container .elt_1{
    display: flex;
    flex-direction: row;
    padding-left:100px ;
    align-items: center;
}

.search .container .elt_1 button{
    cursor: pointer;
    text-align: left;
    width: 190px;
    height: 40px;
    background-color: rgba(46, 86, 110, 1);
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: large;
    border: 1px solid white;
}
.search .container .elt_2{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.search .container .elt_2 button{
    cursor: pointer;
    width: 140px;
    height: 42px;
    background-color:var(--blue);
    color: white;
    font-size: large;
    margin-right: 100px;
    margin-left: 55px;
    border: 1px solid var(--blue);
}
.search .container .elt_2 input{
    cursor: pointer;
    width: 400px;

}
.stick{
    width: 1px;
    height: 45px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
/* редакция полосы */
.range{
    -webkit-appearance: none;
    width: 20px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border: 5px;
    border-radius: 5px;
    background-size:100%;
    background-repeat: no-repeat;
}
/* редакция ползунка */
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
    background: #f8f8f8;
    cursor: ew-resize;
    box-shadow: 0px 0 2px 0 #0e0202;
}

/***************************** DEAL *****************************/

.deal header{
    align-items: center;
    text-align:center;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.deal header h1{
    color: rgba(46, 86, 110, 1);
    font-size:35px;
}
.deal header h2{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(207, 214, 217, 1);
}

.row_stick{
    width: 81px;
    height: 4px;
    background-color: var(--blue);
}

.deal .container{
    width: 100%;
    color: white;
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.deal .container h1{
    margin: 0px;
}
.deal .container h3{
    margin-top:15px;
    margin-bottom: 15px;
}

.deal .container button{
    padding:15px ;
    background-color: var(--blue);
    border: none;
    color: white;
    cursor: pointer;
}

.deal .container .item{
    display: flex;
    width: 28%;
    flex-direction: column;
    background-color: rgba(35, 37, 38, 1);
    height: 350px;
}
.most_sell{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 11px 31px;

}
.most_sell_green{
    background-color: rgba(11, 200, 120, 1);
}
.most_sell_red{
    background-color:rgba(255, 100, 108, 1);
}
.most_sell_dark{
    background-color:rgba(45, 77, 65, 1);
}

.deal .container .item .properties{
    margin-left: 15px;
    margin-top:26px ;
}
.deal .container .item .properties span{
    color: rgba(207, 214, 217, 1);
}
.deal .container .item img{
    width: 100%;
    max-width: 400px;
    margin: 50px auto 0px auto;
}

.space_car{
    margin-left: 25px;
    margin-right: 25px;
}

/***************************** SHOP *****************************/

.shop header{
    margin-left: 100px;
}

.shop header nav{
    margin-top:200px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.shop header nav h1{
    margin: 0px;
}
.shop .navigation{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
}
.shop .navigation button{
    cursor: pointer;
    margin-right: 15px;
    border: white;
    width: 80px;
    height: 40px;
}
.blue_button{
    border-radius: 30px;
    background-color: var(--blue);
    color: white;
}
.white_button{
    background-color: white;
}

.form_search{
    background-color: rgba(245, 247, 249, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.form_search input{
    width: 300px;
    height: 45px;
    border: none;
    font-size: 20px;
    background-color: rgba(245, 247, 249, 1);
}
.form_search button{
    width: 100px;
    height: 45px;
    font-size: 20px;
    background-color: var(--blue);
    color: white;
    border: none;
}

.grid-container{
    display: grid;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns:33% 33% 33%;
}
.grid-container h3{
    color: var(--blue);
}
.grid_item{
    box-shadow: -1px 2px 15px -6px rgba(0,0,0,0.75);
    max-width: 400px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;

}

.grid_item img{

}
.info_grid_item{
    padding-left: 10px;
    background-color: white;
    border-radius: 20px;
    transform: translate(0,-20px);
}
.grey{
    color: rgba(111, 111, 111, 1);
}

.icon{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon hr {

}
.icon h5{
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.icon img{
    width: 20px;
    height: 20px;
}

.row_style{
    margin-top: 10px;
    display: flex;
    flex-direction: row;

}
.grid_item hr{
    height: 1px;
    margin-top: 15px;
    width: 100%;
    border: 1px solid rgba(217, 217, 217, 1);
    background-color: rgba(217, 217, 217, 1);
}
.grid_item span{
    margin-left: 5px;
}
.review{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.review button{
    margin-top: 10px;
    color: white;
    background-color: var(--blue);
    border: none;
    height: 40px;
    width: 160px;
    cursor: pointer;
    margin-bottom: 20px;
}

.pagination{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagination .prev {
    background-color: #919EAB;
}
.pagination button{
    height: 32px;
    width: 32px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #DFE3E8;
    margin: 0px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/***************************** FOOTER *****************************/


.end-box{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    text-decoration: none;
}
.end-box a{
    font-size: 19px;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.end-box img{
    margin-left: 100px;
}

.center-text_end-box_space-home{
    margin-left: 60px;
    margin-right: 60px;
}
.end-box_reg-log{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.end-box_reg-log button{
    margin-bottom: 15px;
    cursor: pointer;
    height: 40px;
    width: 130px;
    border-radius: 10px;

}
.color_blue_button{
    background-color: rgba(24, 160, 251, 1);
    color: white;
    border: 1px solid;

}
.color_white_button{
    background-color: white;
    color: rgba(24, 160, 251, 1);
    border: 1px solid;
}
.center-text_end-box-column{
    display: flex;
    flex-direction: column;
}
.love-users{
    display: flex;
    justify-content: center;
}
